/* common */
.btn {
    box-sizing: border-box;
}

.btn {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font: inherit;
    padding: 8px 16px;
    margin: 0 6px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.btn:focus {
    outline: none;
}

.btn.disabled {
    pointer-events: none;
}

/* color it */
.btn.disabled {
    background-color: rgba(0,0,0,0.1);
}

.btn:focus {
    background-color: rgba(0,0,0,0.8);
}

.btn {
    background-color: rgba(0,0,0,0.3);
    color: #ffffff;
    text-transform: uppercase;
}

.btn:hover {
    background-color: rgba(0,0,0,0.6);
}