:root {
  --primary-color: #2980b9;
  --primary-text-color: #ffffff;
}

.btn, .icon, .icon svg, .toolbar, .toolbar__content {
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  margin: 0 6px 8px 6px;
  padding: 8px 16px;
  font: inherit;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 2px;
  background-color: transparent;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  cursor: pointer;
}

.btn--icon {
  padding: 8px;
}

.icon {
  display: block;
  width: 16px;
  height: 16px;
}

.icon svg {
  display: block;
  width: 100%;
  height: 100%;
}

.btn--fab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  margin: 0;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(0, 0, 0, .75), 0 3px 6px rgba(0, 0, 0, .25);
}

.btn-fab .icon {
  width: 32px;
  height: 32px;
}

.toolbar {
  position: relative;
}

.toolbar--top, .toolbar--bottom {
  position: fixed;
  left: 0;
}

.toolbar--top {
  top: 0;
}

.toolbar--bottom {
  bottom: 0;
}

.toolbar--bottom .toolbar-opener {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.toolbar__content {
  display: flex;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  height: 56px;
}

.toolbar__content::after {
  content: '';
  width: 56px;
  height: 56px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 80px;
  transform: scale(1);
  transform-origin: center;
  z-index: -1;
}

.toolbar__content .btn {
  margin: 0 6px;
}

.toolbar--bottom .toolbar__content {
  position: absolute;
  bottom: 0;
  right: 80px;
  opacity: 1;
}

.toolbar--bottom .toolbar-closer {
  opacity: 0;
}

.toolbar--bottom.toolbar--open {
  width: 100%;
}

.toolbar--bottom.toolbar--open .toolbar-opener {
  opacity: 0;
  box-shadow: unset;
  transform-origin: center;
  transform: translate(-40px, 40px);
  transition: transform .15s cubic-bezier(0, 0, .2, 1), opacity .3s ease, box-shadow;
}

.toolbar--bottom.toolbar--open .toolbar__content {
  border-radius: 0;
  right: 0;
  width: 100%;
  opacity: 1;
  transition: opacity .5s cubic-bezier(0, 0, .2, 1) .1s;
}

.toolbar--bottom.toolbar--open .toolbar__content::after {
  transform: scale(100);
  transition: transform .1s cubic-bezier(0, 0, .2, 1) .1s;
}

.toolbar--bottom.toolbar--open .toolbar-closer {
  opacity: 1;
  transition: opacity .1s linear .3s;
}

.toolbar__content::after, .primary {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.justify-end {
  justify-content: flex-end;
}