.page-title,
.modal-wrapper,
.modal-overlay,
.modal,
.modal__header,
.modal__title,
.modal__content,
.modal__actions {
  box-sizing: border-box;
}

.page-title {
  text-align: center;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.modal {
  position: absolute;
  min-width: 300px;
  min-height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  border: 2px solid transparent;
  border-radius: 2px;
  padding: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  outline: none;
  box-shadow: 0 0 32px #000000;
}

.modal__header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #d7d7d7;
}

.modal__title {
  margin: 0;
  padding-left: 8px;
}

.flex {
  flex: 1;
}

.modal__btn-closer {
  margin: 0;
}

.modal__btn-closer:focus,
.modal__btn-closer:hover {
  background-color: transparent;
  color: red;
}

.modal__content {
  flex: 1;
  padding: 8px 0;
}

.modal__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal-wrapper.open {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.modal--effect-fade-top,
.modal--effect-fade-right,
.modal--effect-fade-bottom,
.modal--effect-fade-left,
.modal--effect-scale {
  transition: opacity .7s linear, visibility 1s linear;
}

.modal--effect-fade-top .modal,
.modal--effect-fade-right .modal,
.modal--effect-fade-bottom .modal,
.modal--effect-fade-left .modal {
  transition: all 1s linear;
}

.modal--effect-fade-top .modal {
  top: -100%;
}

.modal--effect-fade-top.open .modal {
  top: 50%;
}

.modal--effect-fade-right .modal {
  left: unset;
  right: -100%;
  transform: translate(50%, -50%);
}

.modal--effect-fade-right.open .modal {
  right: 50%;
}

.modal--effect-fade-bottom .modal {
  top: unset;
  bottom: -100%;
  transform: translate(-50%, 50%);
}

.modal--effect-fade-bottom.open .modal {
  bottom: 50%;
}

.modal--effect-fade-left .modal {
  left: -100%;
}

.modal--effect-fade-left.open .modal {
  left: 50%;
}

.modal--effect-scale .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s ease-in-out;
}

.modal--effect-scale.open .modal {
  transform: translate(-50%, -50%) scale(1);
}