.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.container--dir-row {
  flex-direction: row;
}

.container--centered-children {
  justify-content: center;
  align-items: center;
}
