:root {
  --primary-color: #ffffff;
  --primary-text-color: #777777;

  --primary-accent-color: rgba(33, 33, 33, 1);
  --primary-accent-color-hover: rgba(33, 33, 33, .3);
  --primary-accent-text-color: #ffffff;

  --disabled-color: rgba(0, 0, 0, .1);
  --disabled-text-color: rgba(255, 255, 255, .9);

  --overlay-color: rgba(0, 0, 0, 0.05);
  --overlay-text-color: #777777;

  --overlay-light-color: rgba(255, 255, 255, .8);
  
  --overlay-dark-color: rgba(0, 0, 0, .7);
  --overlay-dark-text-color: #ffffff;
}

.primary {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.accent {
  background-color: var(--primary-accent-color);
  color: var(--primary-accent-text-color)
}

.accent:hover {
  background-color: var(--primary-accent-color-hover);
}